@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/css?family=Quattrocento');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro'); 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Quattrocento', serif;
    font-family: Arial, Helvetica, Sans-serif;
}

#logo {
    text-align: center;
    margin: auto;
}

.sidebar {
    font-size: 20px;
    text-align: center;
    color: #757985;
    margin: 20px;
}

.logo1 {
    width: 140px;
    margin: 5px;
}

.redes {
   text-align: center;
}

.social {
    width: 30px;
    height: 30px;
    margin: 5px;
}

@media (min-width:768px) {
    #logo {
        display: flex;
    }
    
    .logof {
       margin-left: 8%; 
    }
    
.logo1 {
    width: 140px;
    margin: 5px;
}
    
.redes {
    margin-left: 45%;
    margin-top: 50;
}

.social {
    width: 40px;
    height: 40px;
}

}

/** -- Header --**/    

header {
  width: 100%;
  height: 52px;
  background: #ff670f;
  color: #fff;
  display: flex;
  align-items: center;
 }

.contenedor {
    width: auto;
    margin: auto;
}

section {
    width: 100%;
    margin-bottom: 25px;
}



/*-- Menu--*/


#btn-menu {
  display: none;
}

header label {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.menu ul {
  background: #ff670f;
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu ul ul {
  display: none;
}

.menu a {
  display: block;
  padding: 15px 20px;
  color: #fff;
  text-decoration: none;
  font-family: Source Sans Pro;
  font-size: 17px;
}

.menu a:hover {
  background: rgba(0,0,0,0.3);
}

.menu a span {
  margin-left: 10px;
}

.menu ul li:hover ul {
    display: block;
  position: absolute;
}

@media (max-width:768px) {
  header label {
    display: block;
  }
    
    .menu {
    position: absolute;
    left: 0;
    top: 210px;
    width: 100%;
    transform: translateX(-100%);
    transition: all 0.3s;
  }
    
    .menu ul {
    display: block;
    background: #555;
  }
    
    .menu ul li:hover ul {
    display: none;
    position: static;
  }
    
    .menu a span {
    position: absolute;
    right: 5px;
  }
    
    #btn-menu:checked ~ .menu {
    transform: translateX(0%);
  }
    {
        
    }
    .menu ul ul {
    background: rgba(0,0,0,0.4);
  }
    
    .menu ul ul a {
    padding: 15px 40px;
  }
}    

/* -- main --*/

main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/** -- Sidebar -- **/

#sidebar {
    width: 94%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #e8e8e8;
    margin-top: 3%;
}

.ft {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 4%;
}
    
article {
    margin: 15px;
    text-align: center;
}


.foto {
    min-width: 160px;
    max-height: 200px;
}

article h4 {
    font-size: 15;
    margin-top: 7px;
    color: #898989;
}

.titulo {
    margin-top: 40px;
    font-size: 20px;
    font-family: Source Sans Pro;
    color: #757985;
}

/* -- Aliados --*/
 
#aliados .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#aliados h3 {
    font-size: 30px;
    color: #000099;
    font-family: 'Kaushan Script';
    margin: 20px;
}

#aliados img {
    margin-right: 30px;
}


/*--- footer --- */

footer {
  width: 100%;
  background-color: #006699;
  border-top: 30px solid #ff670f;    
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.informacion {
  margin-bottom: 15px;
  text-align: center;    
}

 .legal {
  margin-bottom: 30px;
  text-align: center;  
}


.contenedor h3, h4, p {
  color: #fff;
  line-height: 20px;
}

.contenedor h3 {
  font-family: sourcesans-Bold;
}

.informacion {
  font-family: sourcesans-light;
}

.copyright {
  font-family: sourcesans-Bold;
    float: left;
 }

 .politica {
  font-family: Source Sans Pro;
  text-align: center;
 }

 .legal {
  font-family: sourcesans-light;
 }

 .legal strong {
  color:#929699;
 }

 .legal em {
  font-family: sourcesans-Bold;
  font-style: normal;
 }


@media (min-width:478px) {
    .informacion {
       display: block;
       justify-content: center;
       margin-bottom: 15px; 
}

.legal {
  display: block;     
  margin-bottom: 30px; 
  justify-content: center;    
}
    
    
.container-icons {
    display: block;
    margin: 0 auto;
    width: 120px;
 }
    
 
    footer .contenedor {
    display: block;
    justify-content: center;
    padding-top: 20px;    
}
    
    
}


 .container-icons h3{
color: #fff;
font-family: sourcesans-Bold;
padding-bottom: 30px;
}

.icon-circle-with-plus{
    font-size: 70px;
    transition: all 300ms;
    color: #E44C36;
}

.container-icons:hover .icon-circle-with-plus{
    transform: rotate(180deg);
}

.row-icon{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    transition: all 300ms;
    opacity: 1;
    padding: 5px;
}

.container-icons:hover .row-icon{
    opacity: 1;
}

.row-icon h4{
    transform: translate(-10px, 10px);
    background: rgba(0,0,0,0.6);
    height: 20px;
    font-weight: 300;
    padding: 2px 2px;
    color: white;
    border-radius: 5px;
}

.row-icon label{
    font-size: 40px;
}

.icon1{
    transform: translate(-100px, -40px) scale(0);
}

.icon2{
    transform: translate(-0px, -90px) scale(0);
}

.icon3{
    transform: translate(-96px, -180px) scale(0);
}

.icon4{
    transform: translate(-10px, -250px) scale(0);
}



.container-icons:hover .icon1{
    transform: translate(-66px, -50px) scale(1);
}

.container-icons:hover .icon2{
    transform: translate(-56px, -100px) scale(1);
}

.container-icons:hover .icon3{
    transform: translate(-70px, -150px) scale(1);
}

.container-icons:hover .icon4{
    transform: translate(-46px, -200px) scale(1);
}

.label1{
    color: #4862A3;
}

.label2{
    color: #AB3838;
}

.label3{
    color: #D32681;
}

.label4{
    color: #1DA0F2;
}


@media (min-width:768px) {
    .informacion {
       margin-right: 4%;
       margin-left: 2%;        
       margin-bottom: 15px; 
       text-align: justify;
}

.legal {
  margin-bottom: 30px; 
  margin-right: 2%;    
  text-align: justify;    
}

.politica {
  font-family: Source Sans Pro;
  float: left;
 }
 
    footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;    
}
    
    
}

@media (min-width:850px) {
    .informacion {
       margin-right: 6%;
       margin-left: 4%;        
       margin-bottom: 15px; 
       text-align: justify;
}

.legal {
  margin-bottom: 30px; 
  margin-right: 2%;    
  text-align: justify;    
}

.politica {
  font-family: Source Sans Pro;
  float: left;
 }
    
    
    footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;    
}
    
    
}
